/* Basic Style */
.page {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
  }
  .header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
  }
  
  .header 
  .header-img {
    width: 100%;
  }
  
  .header 
  .header__link-more-inf {
    font-family: fantasy, cursive;
  }
  @@ -45,7 +43,8 @@
    display: flex;
  }
  
  ul {
  .lists-tasks, 
  .completed-tasks {
    margin: 0;
    padding: 0px;
  }
  li, 
  h3 {
    list-style: none;
  }
  
  input,
  /* input, */
  .button-common{
    outline: none;
  }
  .button-common {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
  .button-common:hover {
    color: #3a3a3a;
  }
  
  /* Heading */
  .todo-caption,
  .caption-add-task {
    color: #333;
    font-weight: 700;
  @@ -109,8 +107,7 @@ input,
    margin: 0 0 20px;
  }
  
  .task-name
  #new-task {
  .new-task {
    width: 318px;
  }
  
  /* Task list */
  .lists-tasks__item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .lists-tasks__item > * {
  .lists-tasks__item {
    vertical-align: middle;
  }
  
  .lists-tasks__item > 
  .lists-tasks__item_complete-task {
    margin: 0 10px;
  }
  
  .lists-tasks__item > 
  .task-label {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
  }
  
  .lists-tasks__item > 
  .task-input {
    width: 226px;
  }
  
  .task-delete 
  .lists-tasks__item_img-del {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
  }
  
  .task-delete 
  .lists-tasks__item_img-del:hover {
    transform: rotateZ(0);
  }
  
  /* Completed */
  #completed-tasks 
  .completed-tasks  
  .task-label {
    text-decoration: line-through;
    color: #888;
  }
  
  /* Edit Task */ 
  .lists-tasks__item 
   .lists-tasks__item  
  .task-input {
    display: none;
  }
  .edit-mode 
  .task-input {
    display: inline-block;
    width: 224px;
  }
  .edit-mode 
  .task-label {
    display: none;
  }